.about-info {
	max-width: 500px;
	background: white;
	padding: 20px 10px 10px 10px;
	margin-bottom: 16px;

	border-radius: 5px;
	opacity: 0.8;
	-webkit-box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.57);
	-moz-box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.57);
	box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.57);
}

.about-avatar {
	display: inline-block;
    float: left;
    overflow: hidden;

    width: 135px;
    height: 135px;

    border-radius: 50% 50%;
    margin-right: 12px;
}

.userpic {
	width: 100%;
}

@media (max-width: 500px) {
        .about-info {
          width: 100%;
        }
        .intro__background {
          	// height: 100vh;
        }
}